$main_color:#0046C0;
[dir="rtl"] {
    body {
        direction: rtl;
        text-align: right;
    }
    html {
        text-align: right;
        direction: rtl;
    }
    .price-product {
        left: 25px;
    }
    .mAll-auto {
        margin-right: auto;
    }
    .float-right-all {
        float: left !important;
    }
    .search-all {
        i {
            left: 10px !important;
        }
    }
    @media(min-width:1px)and(max-width:767px) {
        .carousel-indicators {
            right: -54px;
        }
    }
    .carousel-control-next {
        right: 20px !important;
        .fa-chevron-right {
            right: -10px !important;
        }
    }
    .carousel-control-prev {
        left: 20px !important;
        .fa-chevron-left {
            right: -10px;
        }
    }
    @media(min-width:1px)and(max-width:767px) {
        .carousel-control-next {
            right: 0px !important;
            .fa-chevron-right {
                right: -10px !important;
            }
        }
        .carousel-control-prev {
            left: 0px !important;
            .fa-chevron-left {
                right: -10px;
            }
        }
    }
    @media(min-width:1px)and(max-width:767px) {
        .carousel-control-next {
            width: 30px !important;
            height: 30px !important;
            right: 10px !important;
            .fa-chevron-right {
                right: -10px !important;
            }
        }
        .carousel-control-prev {
            width: 30px !important;
            height: 30px !important;
            left: 10px !important;
            .fa-chevron-left {
                right: -10px;
            }
        }
    }
    .title-sec {
        &::after {
            right: 5px;
        }
    }
}

* {
    font-family: 'Cairo', sans-serif;
}

body {
    overflow-x: hidden;
}

[dir="ltr"] {
    .title-sec {
        &::after {
            left: 5px;
        }
    }
    body {
        direction: ltr;
        text-align: left;
    }
    html {
        direction: ltr;
        text-align: left;
    }
    .price-product {
        right: 25px;
    }
    .mAll-auto {
        margin-left: auto;
    }
    .float-right-all {
        float: right;
    }
    .search-all {
        i {
            right: 10px !important;
        }
    }
    .carousel-control-next {
        right: 20px !important;
        .fa-chevron-right {
            right: 10px !important;
        }
    }
    .carousel-control-prev {
        left: 20px !important;
        .fa-chevron-left {
            left: -10px;
        }
    }
    @media(min-width:1px)and(max-width:767px) {
        .carousel-control-next {
            width: 30px !important;
            height: 30px !important;
            right: 10px !important;
            .fa-chevron-right {
                right: 10px !important;
            }
        }
        .carousel-control-prev {
            width: 30px !important;
            height: 30px !important;
            left: 10px !important;
            .fa-chevron-left {
                right: 0px;
            }
        }
    }
}

.carousel-inner {
    height: 100% !important;
}

.carousel-item {
    background-position: center;
    background-size: cover;
    height: 100% !important;
}

.all-one {
    position: relative;
    height: 100%;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.fixed-top {
    z-index: 888 !important;
}

.loader {
    position: fixed;
    z-index: 9999999999999999999 !important;
    background: $main_color;
    display: flex;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.one {
    position: absolute;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: .0;
    animation: loading 1.3s .65s infinite;
    height: 20px;
    width: 20px;
}

.two {
    position: absolute;
    border-radius: 50%;
    background: #FF4081;
    opacity: .0;
    animation: loading 1.3s infinite;
    height: 20px;
    width: 20px;
}

@keyframes loading {
    0% {
        opacity: .0;
        transform: scale(.15);
        box-shadow: 0 0 2px rgba(black, .1);
    }
    50% {
        opacity: 1;
        transform: scale(2);
        box-shadow: 0 0 10px rgba(black, .1);
    }
    100% {
        opacity: .0;
        transform: scale(.15);
        box-shadow: 0 0 2px rgba(black, .1);
    }
}

.Advertising {
    height: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 8888 !important;
    animation-name: open;
    animation-duration: 1s;
    display: none;
}

@keyframes open {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.Advertising-box {
    background-color: #fff;
    border-radius: 10px;
    width: 35%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rounded-left-all {
    border-top-left-radius: 10px;
}

.rounded-right-all {
    border-top-right-radius: 10px;
}

.object-fit {
    object-fit: cover;
}

.close-Advertising {
    position: absolute;
    top: -13px;
    right: -13px;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px #000000;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none !important;
}

.see-All {
    border: 2px solid $main_color;
    color: $main_color;
    padding-left: 50px;
    padding-right: 50px;
}

.price-product {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 10px 25px #ccc;
    top: -25px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.name-product {
    color: $main_color;
    font-size: 25px;
    font-weight: 600;
}

.navbar-brand {
    color: #0046C0 !important;
    font-weight: 600 !important;
    font-size: 25px !important;
}

.carousel-control-next {
    background-color: #fff !important;
    width: 50px !important;
    height: 50px !important;
    color: $main_color !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    position: absolute;
    top: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    .fa-chevron-right {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        position: relative;
        right: 10px;
    }
    opacity: 1 !important;
}

.carousel-control-prev {
    opacity: 1 !important;
    background-color: #fff !important;
    width: 50px !important;
    height: 50px !important;
    color: $main_color !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    position: absolute;
    top: 50% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    .fa-chevron-left {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        position: relative;
        left: -10px;
    }
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff !important;
    opacity: 1 !important;
}

.carousel-indicators li.active {
    background-color: $main_color !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000 !important;
}

.navbar-light {
    .navbar-nav {
        .nav-item {
            position: relative;
        }
        .active-nav {
            color: $main_color !important;
            font-weight: 600 !important;
        }
        .active-nav::after {
            content: "";
            position: absolute !important;
            left: 25% !important;
            bottom: 0 !important;
            height: 3px !important;
            width: 50%;
            background-color: $main_color;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }
}

@media(min-width:1px)and(max-width:767px) {
    .Advertising-box {
        width: 95%;
    }
    .navbar-light {
        .navbar-nav {
            .active-nav::after {
                content: "";
                position: absolute !important;
                width: 0%;
                background-color: transparent;
            }
        }
    }
}

@media(min-width:767px)and(max-width:769px) {
    .Advertising-box {
        width: 60%;
    }
    .navbar-light {
        .navbar-nav {
            .active-nav::after {
                content: "";
                position: absolute !important;
                width: 0%;
                background-color: transparent;
            }
        }
    }
}

@media(min-width:769px)and(max-width:1024px) {
    .Advertising-box {
        width: 60%;
    }
}

.title-header {
    color: #fff;
}

.title-header {
    h2 {
        color: $main_color;
        font-weight: 700;
        font-size: 50px;
    }
}

.video-open-one {
    color: #fff !important;
    border: 2px solid #fff;
    font-weight: 700;
}

.video-open-one:hover {
    color: $main_color !important;
    border: 2px solid #fff;
    background-color: #fff;
}

.change-langulage {
    background-color: transparent;
    a {
        color: $main_color !important;
    }
    border: 2px solid $main_color;
}

button {
    outline: none !important;
}

.change-langulage:hover {
    background-color: $main_color;
    a {
        color: #fff !important;
    }
    border: 2px solid $main_color;
}

.px-5-all {
    padding-left: 25px;
    padding-right: 25px;
}

@media(min-width:1px)and(max-width:767px) {
    .px-5-all {
        padding-left: 5px;
        padding-right: 5px;
    }
    .all-nav-top {
        display: flex;
        align-items: center;
    }
}

.w-70 {
    width: 70% !important;
}

input {
    outline: none !important;
}

input.search {
    border: 2px solid $main_color !important;
    padding-left: 5px;
    padding-right: 5px;
}

.search-all {
    position: relative;
    i {
        position: absolute;
        color: $main_color;
        top: 5px;
    }
}

.fa-shopping-cart {
    position: relative;
    text-align: center;
    color: #000;
    span {
        display: inline-block;
        padding-top: 3px;
        position: absolute;
        top: -8px;
        right: -10px;
        width: 18px;
        height: 18px;
        font-size: 12px;
        background-color: $main_color;
        border-radius: 50%;
        color: #fff !important;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

.w-25-all {
    width: 25%;
}

.dropdown-menu {
    border: none !important;
    border-top: 2px solid $main_color !important;
    border-radius: none !important;
    -webkit-border-radius: none !important;
    -moz-border-radius: none !important;
    -ms-border-radius: none !important;
    -o-border-radius: none !important;
}

.border-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.overlay-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 70, 192, 0.4);
    @extend .border-10
}

.title-sec {
    color: $main_color;
    font-weight: 700;
    font-size: 30px;
    &::after {
        position: absolute;
        content: '';
        width: 10%;
        height: 3px;
        background-color: $main_color;
        bottom: -5px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

.conact {
    input,
    textarea {
        border: none !important;
        border-bottom: 2px solid $main_color !important;
        resize: none;
        outline: none !important;
    }
}

.send-btn {
    background-color: $main_color;
    color: #fff;
    border: none;
    font-size: 20px;
}

.open-all {
    i {
        font-size: 50px;
        color: #fff;
    }
}

.bg-main {
    background-color: $main_color;
}

.color-main {
    color: #ffff;
}

#up {
    background-color: $main_color;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5px;
    left: 5px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.radius-20 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .num {
        font-size: 25px;
        font-weight: 700;
    }
    .f-20 {
        font-size: 25px;
        font-weight: 700;
        color: $main_color;
        padding-bottom: 15px !important;
    }
}

.pro-count {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: $main_color;
    color: #fff !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    i {
        color: #fff !important;
    }
}

.f-title {
    font-weight: 700;
    font-size: 30px;
    color: $main_color;
    &::after {
        position: absolute;
        bottom: -5px;
        width: 6%;
        left: 47%;
        height: 3px;
        background-color: $main_color;
        content: '';
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

.bg-all {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .overlay-3 {
        background-color: rgba(0, 70, 192, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        * {
            color: #fff;
        }
        p {
            font-size: 20px;
        }
        h4 {
            font-size: 50px !important;
        }
    }
}

.w-50-now {
    width: 50%;
}

@media(min-width:1px)and(max-width:767px) {
    .w-50-now {
        width: 100%;
    }
    .bg-all {
        .overlay-3 {
            * {
                color: #fff;
            }
            p {
                font-size: 18px;
            }
            h4 {
                font-size: 25px !important;
            }
        }
    }
}

@media(min-width:767px)and(max-width:768px) {
    .w-50-now {
        width: 75%;
    }
}

@media(min-width:769px)and(max-width:1024px) {
    .w-50-now {
        width: 80%;
    }
}

.header-blog {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 300px;
}

.blog-header {
    height: 100%;
    h3 {
        color: #fff;
        font-weight: 700;
        font-size: 50px;
    }
}

.img-all-blog {
    height: 100px !important;
    width: 100px !important;
    object-fit: cover;
}

.main-color {
    color: $main_color !important;
}

.fa-star {
    color: yellow;
}

.owl-dot.active span {
    background-color: $main_color !important;
}

.h-100 {
    height: 100%;
}

.col-md-12 {
    .row {
        h4 {
            font-size: 25px !important;
            font-weight: 700;
            i {
                font-size: 18px !important;
            }
        }
        p {
            font-size: 18px !important;
            font-weight: 600;
        }
    }
}

.Recipes {
    img {
        height: 300px;
        object-fit: cover;
    }
}

.overlay-4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 70, 192, 0.4);
    width: 100%;
    height: 100%;
}